<section class="p-4">
  <div class="flex flex-col justify-center p-4">
    <h1
      class="capitalize text-3xl text-mainColor font-light mb-5 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
    >
      Reset Password :
    </h1>

    <div
      class="grid grid-cols-[40%_minmax(0,1fr)] gap-4 items-center w-full mx-auto border border-gray-300 rounded-2xl p-8 container bg-gray-50 shadow dark:bg-gray-900 dark:border-gray-700"
    >
      <div>
        <img
          class="w-full rounded-xl"
          src="/images/44200047-4243-4c79-9eb3-a833b221ab43.webp"
          alt="reset Password"
        />
      </div>

      <div>
        <!-- form 1 -->
        @if ( step === 1) {

        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
          <div class="space-y-6">
            <div>
              <label
                for="email"
                class="text-gray-800 text-sm mb-2 block dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                >email :</label
              >
              <input
                id="email"
                formControlName="email"
                type="email"
                class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor dark:text-white md:dark:hover:text-hoverColor dark:hover:text-hoverColor dark:bg-gray-900 dark:border-gray-700"
              />
              @if (verifyEmail.get("email")?.errors &&
              verifyEmail.get("email")?.touched) {
              <div
                class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>

                <div>
                  <ul class="mt-1.5 list-disc list-inside dark:text-yellow-500">
                    @if (verifyEmail.get("email")?.getError("required")) {
                    <li>Email required</li>
                    } @if (verifyEmail.get("email")?.getError("email")) {
                    <li>Invalid Email</li>
                    }
                  </ul>
                </div>
              </div>
              }
            </div>

            <div class="flex ms-auto justify-end">
              <button
                [disabled]="isLoading"
                [disabled]="verifyEmail.invalid"
                type="submit"
                class="main-btn dark:text-white md:dark:hover:text-white dark:hover:text-white"
              >
                Send Code @if (isLoading) {
                <span><i class="ms-3 fa-solid fa-spinner fa-spin"></i></span>
                }
              </button>
            </div>
          </div>
        </form>

        }
        <!-- form 2 -->
        @else if (step === 2) {

        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
          <div class="space-y-6">
            <div>
              <label
                for="resetCode"
                class="text-gray-800 text-sm mb-2 block dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                >resetCode :</label
              >
              <input
                id="resetCode"
                formControlName="resetCode"
                type="text"
                class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor dark:text-white md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              />
              @if (verifyCode.get("resetCode")?.errors &&
              verifyCode.get("resetCode")?.touched) {
              <div
                class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>

                <div>
                  <ul
                    class="mt-1.5 list-disc list-inside dark:text-yellow-500 md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                  >
                    @if (verifyCode.get("resetCode")?.getError("required")) {
                    <li>Code required</li>
                    } @if (verifyCode.get("resetCode")?.getError("pattern")) {
                    <li>Invalid Code</li>
                    }
                  </ul>
                </div>
              </div>
              }
            </div>

            <div class="flex ms-auto justify-end">
              <button
                [disabled]="isLoading"
                [disabled]="verifyCode.invalid"
                type="submit"
                class="main-btn dark:text-white md:dark:hover:text-white dark:hover:text-white"
              >
                Confirm @if (isLoading) {
                <span><i class="ms-3 fa-solid fa-spinner fa-spin"></i></span>
                }
              </button>
            </div>
          </div>
        </form>

        }

        <!-- form 3 -->
        @else if (step === 3) {

        <form [formGroup]="resetPassword" (ngSubmit)="ResetPasswordSubmit()">
          <div class="space-y-6">
            <div>
              <label
                for="email"
                class="text-gray-800 text-sm mb-2 block dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                >email :</label
              >
              <input
                id="email"
                readonly
                formControlName="email"
                type="email"
                class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor dark:text-white md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              />
              @if (resetPassword.get("email")?.errors &&
              resetPassword.get("email")?.touched) {
              <div
                class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>

                <div>
                  <ul
                    class="mt-1.5 list-disc list-inside dark:text-yellow-500 md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                  >
                    @if (resetPassword.get("email")?.getError("required")) {
                    <li>Email required</li>
                    } @if (resetPassword.get("email")?.getError("email")) {
                    <li>Invalid Email</li>
                    }
                  </ul>
                </div>
              </div>
              }
            </div>

            <div>
              <label
                for="newPassword"
                class="text-gray-800 text-sm mb-2 block dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                >newPassword :</label
              >
              <input
                id="newPassword"
                formControlName="newPassword"
                type="password"
                class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor dark:text-white md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              />
              @if (resetPassword.get("newPassword")?.errors &&
              resetPassword.get("newPassword")?.touched) {
              <div
                class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert"
              >
                <svg
                  class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                  />
                </svg>

                <div>
                  <ul
                    class="mt-1.5 list-disc list-inside dark:text-yellow-500 md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                  >
                    @if (resetPassword.get("newPassword")?.getError("required"))
                    {
                    <li>New Password required</li>
                    } @if
                    (resetPassword.get("newPassword")?.getError("pattern")) {
                    <li>
                      Must be at least 6 characters and first capital letter
                    </li>
                    }
                  </ul>
                </div>
              </div>
              }
            </div>

            <div class="flex ms-auto justify-end">
              <button
                [disabled]="isLoading"
                [disabled]="resetPassword.invalid"
                type="submit"
                class="main-btn dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >
                Reset Password @if (isLoading) {
                <span
                  ><i
                    class="ms-3 fa-solid fa-spinner fa-spin dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
                  ></i
                ></span>
                }
              </button>
            </div>
          </div>
        </form>

        }
      </div>
    </div>
  </div>
</section>
