<nav class="bg-main border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <div class="container">
    <div
      class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a
        routerLink="/home"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img
          src="/images/freshcart-logo.svg"
          class="h-8"
          alt="fresh cart-logo"
        />
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-hoverColor focus:outline-none focus:ring-2 focus:ring-mainColor dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <div
        class="hidden md:flex flex-col md:flex-row md:items-center md:space-x-4 w-full md:w-auto absolute md:relative top-16 md:top-0 left-0 md:left-auto bg-white md:bg-transparent shadow-md md:shadow-none p-4 md:p-0 dark:bg-gray-800 md:dark:bg-gray-900"
        id="navbar-default"
      >
        @if (isLogin()) {
        <ul
          class="capitalize flex flex-col md:flex-row items-center md:space-x-4 w-full md:w-auto"
        >
          <li class="sm:w-full text-center md:w-fit">
            <a
              routerLink="/home"
              routerLinkActive="active-link"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:hover:text-hoverColor dark:text-mainColor"
              >home</a
            >
          </li>

          <li class="sm:w-full text-center md:w-fit">
            <a
              routerLink="/products"
              routerLinkActive="active-link"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >products</a
            >
          </li>

          <li class="sm:w-full text-center md:w-fit">
            <a
              routerLink="categories"
              routerLinkActive="active-link"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >categories</a
            >
          </li>

          <li class="sm:w-full text-center md:w-fit">
            <a
              routerLink="/brands"
              routerLinkActive="active-link"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >brands</a
            >
          </li>

          <li class="sm:w-full text-center md:w-fit">
            <a
              routerLink="/wishList"
              routerLinkActive="active-link"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >wish list</a
            >
          </li>
        </ul>

        }

        <ul
          class="capitalize flex flex-col md:flex-row md:items-center md:space-x-4 mt-4 md:mt-0"
        >
          <li>
            <a
              routerLink="home"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>

          <li>
            <a
              routerLink="home"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>

          <li>
            <a
              routerLink="home"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >
              <i class="fa-brands fa-tiktok"></i>
            </a>
          </li>

          <li>
            <a
              routerLink="home"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>

          <li>
            <a
              routerLink="home"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>

          <li>
            <a
              routerLink="home"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-text-main md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >
              <i class="fa-brands fa-youtube"></i>
            </a>
          </li>

          @if (theme === "dark") {
          <button
            (click)="toggleTheme()"
            class="px-4 py-2 text-gray-900 dark:text-white rounded-lg"
          >
            <i class="fa-solid fa-moon"></i>
          </button>
          }@else if (theme === "light") {
          <button
            (click)="toggleTheme()"
            class="px-4 py-2 text-gray-900 dark:text-white rounded-lg"
          >
            <i class="fa-regular fa-sun"></i>
          </button>

          } @if (!isLogin()) {

          <li>
            <a
              routerLink="login"
              routerLinkActive="active-link"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-text-main md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >login</a
            >
          </li>

          <li>
            <a
              routerLink="register"
              routerLinkActive="active-link"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-text-main md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >register</a
            >
          </li>

          }@else {

          <li class="sm:w-full text-center md:w-fit">
            <a
              routerLink="/cart"
              routerLinkActive="cart"
              aria-current="page"
              class="relative block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >
              <i class="fas fa-cart-shopping text-xl"></i>
              <span
                class="absolute -top-3 start-0 rounded-2xl bg-mainColor text-white text-xs font-normal me-2 px-2.5 py-0.5 dark:bg-green-900 dark:text-green-300"
                >{{ countNumber() }}</span
              >
            </a>
          </li>

          <li>
            <a
              role="button"
              (click)="authService.logOut()"
              class="block py-2 px-3 rounded-sm sm:bg-mainColor sm:text-white md:text-gray-600 md:bg-transparent hover:text-mainColor md:border-0 md:p-2 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
              >logout</a
            >
          </li>

          }
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- =========================================================================================== -->
<!-- =========================================================================================== -->
<!-- =========================================================================================== -->
<!-- =========================================================================================== -->
<!-- =========================================================================================== -->

<!-- class="hidden w-full md:flex md:w-auto grow" -->
