<main>
  <div class="container">
    <h1
      class="capitalize text-3xl text-mainColor font-light mb-5 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
    >
      Wish List
    </h1>
    <p
      class="text-mainColor text-2xl font-light my-3 dark:text-white md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
    >
      Number Of Items {{ WishDetails.count }}
    </p>

    <section>
      <div
        *ngFor="let item of WishDetails.data"
        class="grid md:grid-cols-[30%_65%] gap-[5%] justify-center items-center w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-4 py-4"
      >
        <div class="flex flex-col cursor-grab rounded-md">
          <img
            [src]="item.imageCover"
            class="w-full h-[250px] object-contain"
            [alt]="item.title"
          />
        </div>

        <div class="px-5 pb-5 relative">
          <button
            (click)="remover(item._id)"
            class="text-red-600 absolute end-2 top-2 hover:text-lg hover:border hover:rounded-md transition-all"
          >
            <i class="fa-solid fa-xmark"></i>
          </button>
          <h2
            class="text-xl font-semibold text-mainColor tracking-tight dark:text-white"
          >
            {{ item.title }}
          </h2>

          <h3
            class="text-base my-6 font-medium text-gray-600/50 tracking-tight dark:text-white"
          >
            {{ item.description }}
          </h3>

          <div class="flex justify-between items-center">
            <div
              class="flex flex-col items-center justify-between dark:text-yellow-500"
            >
              <span class="my-4 text-base">{{ item.category?.name }}</span>
              <span class="text-sm">{{ item.price }} EPG</span>
            </div>

            <div class="flex justify-between">
              <div>
                <i class="fas fa-star text-yellow-300"></i>
                <span class="text-gray-500 text-sm mx-3 dark:text-white">{{
                  item.ratingsAverage
                }}</span>
              </div>
            </div>
          </div>

          <button
            (click)="addItemToCart(item._id)"
            class="main-btn w-full mt-6"
          >
            + Add to cart
          </button>
        </div>
      </div>
    </section>
  </div>
</main>
