<section class="p-4">
  <div class="flex flex-col justify-center p-4">
    <h1 class="capitalize text-3xl text-text-main font-light mb-5">
      Payment :
    </h1>

    <div
      class="w-full mx-auto border border-gray-300 rounded-2xl p-8 container bg-gray-50 shadow"
    >
      @if (pay() === 1) {

      <form [formGroup]="checkoutForm" (ngSubmit)="submitForm()">
        <div class="space-y-6">
          <div>
            <label for="email" class="text-gray-800 text-sm mb-2 block"
              >details :</label
            >
            <textarea
              id="details"
              readonly
              formControlName="details"
              class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor"
            ></textarea>
            @if (checkoutForm.get("details")?.errors &&
            checkoutForm.get("details")?.touched) {
            <div
              class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>

              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (checkoutForm.get("details")?.getError("required")) {
                  <li>Details required</li>
                  }
                </ul>
              </div>
            </div>
            }
          </div>

          <div>
            <label for="phone" class="text-gray-800 text-sm mb-2 block"
              >phone :</label
            >
            <input
              id="phone"
              formControlName="phone"
              type="tel"
              class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor"
            />
            @if (checkoutForm.get("phone")?.errors &&
            checkoutForm.get("phone")?.touched) {
            <div
              class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>

              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (checkoutForm.get("phone")?.getError("required")) {
                  <li>phone required</li>
                  } @if (checkoutForm.get("phone")?.getError("pattern")) {
                  <li>Enter a 11-digit number</li>
                  }
                </ul>
              </div>
            </div>
            }
          </div>

          <div>
            <label for="city" class="text-gray-800 text-sm mb-2 block"
              >city :</label
            >
            <input
              id="city"
              formControlName="city"
              type="text"
              class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor"
            />
            @if (checkoutForm.get("city")?.errors &&
            checkoutForm.get("city")?.touched) {
            <div
              class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>

              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (checkoutForm.get("city")?.getError("required")) {
                  <li>city required</li>
                  }
                </ul>
              </div>
            </div>
            }
          </div>

          <div class="flex ms-auto justify-end">
            <button
              [disabled]="isLoading"
              [disabled]="checkoutForm.invalid"
              type="submit"
              class="main-btn"
            >
              Payment @if (isLoading) {
              <span><i class="ms-3 fa-solid fa-spinner fa-spin"></i></span>
              }
            </button>
          </div>
        </div>
      </form>

      } @if (pay() === 2) {

      <form [formGroup]="checkoutForm" (ngSubmit)="submitForm()">
        <div class="space-y-6">
          <div>
            <label for="email" class="text-gray-800 text-sm mb-2 block"
              >details :</label
            >
            <textarea
              id="details"
              readonly
              formControlName="details"
              class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor"
            ></textarea>
            @if (checkoutForm.get("details")?.errors &&
            checkoutForm.get("details")?.touched) {
            <div
              class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>

              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (checkoutForm.get("details")?.getError("required")) {
                  <li>Details required</li>
                  }
                </ul>
              </div>
            </div>
            }
          </div>

          <div>
            <label for="phone" class="text-gray-800 text-sm mb-2 block"
              >phone :</label
            >
            <input
              id="phone"
              formControlName="phone"
              type="tel"
              class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor"
            />
            @if (checkoutForm.get("phone")?.errors &&
            checkoutForm.get("phone")?.touched) {
            <div
              class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>

              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (checkoutForm.get("phone")?.getError("required")) {
                  <li>phone required</li>
                  } @if (checkoutForm.get("phone")?.getError("pattern")) {
                  <li>Enter a 11-digit number</li>
                  }
                </ul>
              </div>
            </div>
            }
          </div>

          <div>
            <label for="city" class="text-gray-800 text-sm mb-2 block"
              >city :</label
            >
            <input
              id="city"
              formControlName="city"
              type="text"
              class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md focus:ring-mainColor focus:border-mainColor"
            />
            @if (checkoutForm.get("city")?.errors &&
            checkoutForm.get("city")?.touched) {
            <div
              class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
              role="alert"
            >
              <svg
                class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
                />
              </svg>

              <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (checkoutForm.get("city")?.getError("required")) {
                  <li>city required</li>
                  }
                </ul>
              </div>
            </div>
            }
          </div>

          <div class="flex ms-auto justify-end">
            <button
              [disabled]="isLoading"
              [disabled]="checkoutForm.invalid"
              type="submit"
              class="main-btn"
            >
              Cash @if (isLoading) {
              <span><i class="ms-3 fa-solid fa-spinner fa-spin"></i></span>
              }
            </button>
          </div>
        </div>
      </form>

      }
    </div>
  </div>
</section>
