<div
  [@wobble]="wobble"
  class="card relative hover:border-mainColor hover:border hover:scale-110 transition-all duration-700 rounded-md overflow-hidden shadow"
>
  <button
    [style]="{ color: buttonColors[product()?._id!] || 'grey' }"
    class="absolute top-3 end-3 z-20 w-3"
    (click)="toggleWishlist(product()?._id!)"
  >
    <i class="fa-solid fa-heart"></i>
  </button>

  <div class="cursor-pointer" [routerLink]="['/details', product()?._id]">
    <div class="card-img">
      <img
        [src]="product()?.imageCover"
        class="w-full"
        [alt]="product()?.title"
      />
    </div>

    <div class="card-body px-2 py-4">
      <h4
        class="text-mainColor text-xs my-1 dark:text-yellow-500 md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
      >
        {{ product()?.category?.name }}
      </h4>
      <h3
        class="font-semibold my-1 dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
      >
        {{ product()?.title?.split(" ", 2)?.join(" ") }}
      </h3>

      <div class="flex justify-between">
        <span
          class="text-sm dark:text-white md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
        >
          {{ product()?.price | currency : "GBP" }}
        </span>
        <div>
          <i class="fas fa-star text-yellow-300"></i>

          <span
            class="text-gray-500 text-xs dark:text-mainColor md:dark:hover:text-hoverColor dark:hover:text-hoverColor"
            >{{ product()?.ratingsAverage }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button
      (click)="addItemToCart(product()?._id!)"
      class="relative main-btn w-[90%] mx-auto flex items-center justify-center gap-1 px-5 py-3 text-white bg-mainColor rounded-lg shadow-md transition-all duration-300 hover:bg-hoverColor hover:shadow-lg active:scale-95 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="w-[22px] h-[22px] transition-transform duration-300 group-hover:scale-110"
        src="/images/add-cart_7245019.png"
        alt="cart img"
      />
      <span class="text-base font-medium">Add to Cart</span>
    </button>
  </div>
</div>
